@model List<Slider>
@{
    ViewData["Title"] = "Index";
    int order = 0;
}

<div class="container-fluid">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h1>Authors:</h1>
        <a asp-action="create" asp-controller="slider" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title1</th>
                <th scope="col">Title2</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Order</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slider in Model)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td>@slider.Title1</td>
                    <td>@slider.Title2</td>
                    <td>@slider.Desc</td>
                    <td>@slider.Order</td>
                    <td><img src="~/assets/image/bg-images/@slider.Image" style="max-width:100px" /></td>
                    <td>
                        <a asp-action="edit" asp-controller="slider" asp-route-id="@slider.Id" class="btn btn-warning">Edit</a>
                        <a class="btn btn-danger btn-sweet-delete">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


